@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html{
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #440909a6;
}

table{
    background-color: #44090956;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}